/* RESET */
a{
    text-decoration: none;
    color: #fff;
}

/* UTILS */
.bg-orange-red{
    background-color: #cd3d0f;
}
.text-main-blue{
    color: #0072ce;
}
.bg-main-blue{
    background-color: #0072ce;
}
.bg-lightgrey{
    background-color: #d9dadc;
}
.bg-blue-footer{
    background-color: #00439c;
}
.w-15{
    width: 15%;
}

/* NAVBAR */
.sony-navbar{
    background-color: #000;
    height: 35px;
}
.show-only-lg{
    display: none;
}
.show-only-md{
    display: none;
}
/* HEADER */
.hero{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 590px;
    padding: 3rem 0;
}
.hero-thumbs img{
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 20px;
}
.hero-thumbs img:hover{
    border: 2px solid #0072ce;
    transform: translateY(-3px);
}
/* MAIN */
.ps5-items div{
    border-bottom: 2px solid transparent;
    filter: opacity(0.7);
}
.ps5-items div:hover{
    border-bottom: 2px solid #0072ce;
    filter: opacity(1);
}
.hero-2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 590px;
}
.new-games img{
    border-radius: 20px;
}
.ps-plus-banner {
    background-color: #bebcbb;
}
.ps-now-banner {
    background-color: #161c3b;
}
/* FOOTER */
footer ul{
    list-style-type: none;
    line-height: 1.5rem;
}

/* RESPONSIVE */

/* EXTRA SMALL SCREENS */
@media screen and (max-width: 576px){
    /* HERO SECTION */
    .hero-thumbs{
        padding: 1.5rem 0;;
    }
    .hero-thumbs div{
        padding: .5rem 1rem;
    }
    /* MAIN SECTION */
}

/* SMALL SCREENS */
@media screen and (min-width: 576px){
    /* HERO SECTION */
    .hero{
       padding: 3rem 1.5rem;
    }
    .hero-thumbs{
        padding: 1.5rem;
    }
    .hero-thumbs div{
        padding: .5rem 1rem;
    }
    /* MAIN SECTION */
    .ps5-items{
        padding: 0 1.5rem;
    }
    
}

/* MEDIUM SCREENS */
@media screen and (min-width: 768px) {
    .show-only-md{
        display: flex;
    }
}
@media screen and (min-width: 992px){
    .show-only-lg{
        display: flex;
    }
}