/* RESET */
a{
    text-decoration: none;
    color: #fff;
}

/* UTILS */
.bg-orange-red{
    background-color: #cd3d0f;
}
.text-main-blue{
    color: #0072ce;
}
.bg-main-blue{
    background-color: #0072ce;
}
.bg-lightgrey{
    background-color: #d9dadc;
}
.bg-blue-footer{
    background-color: #00439c;
}
.w-15{
    width: 15%;
}
.w-60{
    width: 60%;
}
.show-only-lg{
    display: none;
}
.show-only-md{
    display: none;
}

/* TEXTS */
.hero h1,
.ps5-explore h2,
.ps5-details h2,
.hero-2 h1,
.ps4-explore h2,
.ps4-details h2,
.ps-store h2{
    font-size: 2.5rem;
}
.ps5-explore p,
.ps5-details p,
.ps4-explore p,
.ps4-details p,
.ps-store p{
    font-size: 1.2rem;
}
.ps5-explore p:first-child,
.new-games p{
    font-size: 1rem;
}
.ps5-items p{
    font-size: 0.8rem;
}
.new-games h2,
.socials h2{
    font-size: 2rem;
}
.new-games h3{
    font-size: 1.5rem;
}

/* MAIN */
.sony-navbar{
    background-color: #000;
    height: 36px;
    text-align: right;
}
.sony-bar-logo{
    width: 75px;
}
.sony-navbar img{
    display: inline-block;
}
.navbar-light .navbar-nav .nav-link {
    color: #000
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #0072ce
}
.navbar i{
    font-size: 0.6rem;
}
.navbar .bi-search{
    font-size: 1rem;
}
.hero{
    background-image: url(./img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 590px;
    padding: 3rem 0;
}
.hero-thumbs img{
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 20px;
}
.hero-thumbs img:hover{
    border: 2px solid #0072ce;
    transform: translateY(-3px);
}
.ps5-items .box{
    border-bottom: 2px solid transparent;
    filter: opacity(0.7);
}
.ps5-items .box:hover{
    border-bottom: 2px solid #0072ce;
    filter: opacity(1);
}
.hero-2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 590px;
}

.new-games img{
    border-radius: 20px;
}
.ps-plus-banner {
    background-color: #bebcbb;
}
.ps-plus-banner a:hover{
    background-color: #fff;
}
.ps-now-banner {
    background-color: #161c3b;
}
.ps-now-banner a:hover{
    background-color: #fff;
}
footer ul{
    list-style-type: none;
    line-height: 1.5rem;
}


/* RESPONSIVE */

/* EXTRA SMALL SCREENS */
@media screen and (max-width: 576px){
    /* HERO SECTION */
    .hero-thumbs{
        padding: 1.5rem 0;;
    }
    .hero-thumbs div{
        padding: .5rem 1rem;
    }
    /* MAIN SECTION */
    .ps5-items{
        align-content: flex-start;
    }
    .ps-plus-banner div:first-child,
    .ps-now-banner div:first-child{
        padding: 3rem 1rem;
    }
}


/* SMALL SCREENS */
@media screen and (min-width: 576px){
    /* HERO SECTION */
    .hero{
       padding: 3rem 1.5rem;
    }
    .hero-thumbs{
        padding: 1.5rem;
    }
    .hero-thumbs div{
        padding: 0.5rem 1rem;
    }
    /* MAIN SECTION */
    .ps5-items{
        padding: 0 1.5rem;
    }
    .hero-2{
        padding: 3rem 1.5rem;
    }
    .new-games,
    .ps-plus-banner,
    .ps-now-banner,
    .footer{
        padding: 3rem 1rem;
    }
}

/* MEDIUM SCREENS */
@media screen and (min-width: 768px) {
    .show-only-md{
        display: inline-block;
    }
    .ps5-items{
        justify-content: space-around;
    }
    .ps-plus-banner,
    .ps-now-banner{
        padding: 0 2rem;
    }
    .socials{
        padding: 0 3rem;
    }
    footer ul{
        padding: 1.5rem 0;
    }
}
@media screen and (min-width: 992px){
    .show-only-lg{
        display: flex;
    }
}