/* UTILS */
.bg-orange-red{
    background-color: #cd3d0f;
}
.text-main-blue{
    color: #0072ce;
}
.bg-main-blue{
    background-color: #0072ce;
}




/* NAVBAR */
/* HEADER */
.hero-2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 590px;
}
.hero-thumbs img{
    padding: 2px;
    border-radius: 20px;
}
.hero-thumbs img:hover{
    border: 2px solid #0072ce;
    transform: translateY(-5px);
}
/* MAIN */
.ps5-items div{
    filter: opacity(0.7);
}
.ps5-items div:hover{
    border-bottom: 2px solid #0072ce;
    filter: opacity(1);
}